.root {
    -fx-thatnicetudelftblue: #00A6D6;
}

.button {
    -fx-background-color: -fx-thatnicetudelftblue;
    -fx-border-color: black;
    -fx-border-size: 2px;
}

.button:hover {
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

.button:active {
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

.text-field {
    -fx-border-color: black;
    -fx-text-inner-color: grey;
}